*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(160deg, #040417, #3e1566, #040417, #5e219b);  
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* NAV */
nav{
    position: sticky; 
    top: 0;
    background-color: hsla(240, 70%, 5%, 0.8);
    backdrop-filter: blur(65px);
    -webkit-backdrop-filter: blur(65px);
    font-size: 25px;
    z-index: 10;
}


nav ul{
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: white;
    font-family: Cascadia Code;
}

nav a{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}
nav a:hover{
    color: yellowgreen;
    transform: translateY(-10px);
    transition-delay: 50ms;
}   
nav a:active {
    background-color: #242b24;
}
.navBar{
    display: flex;
    justify-content: space-between;
}
.mainnav ul {
    display: flex;
    justify-content: flex-end;
}
/* Data */
.Foto{
    display: flex;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 350px;
    border-radius: 0.5cm;
}

/* Bento  */
.box{
    background-color: hsla(240, 70%, 5%, 0.8);
    backdrop-filter: blur(65px);
    border-radius:0.5cm;
    border-width : 3px;
    border-style: solid;
    border-color: rgb(38, 23, 80);
}

.MainGrid{
    display: grid;
    grid-template-columns: 1fr;      /* 1 kolom */
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr; /* 3 baris */
    gap: 1em;
    margin: 3rem;

    grid-template-areas: 
    "Data"
    "Data"
    "Bento"
    "Bento"
    "Contact";
}

#Data{
    max-width: 22.88em;
    max-height: 1fr;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 400px;
    min-height: 400px; */
}
.Grid{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-rows: 250px;
    gap : 1em;
    grid-template-areas: 
    "b1 b1 b2 b3"
    "b1 b1 b2 b3"
    "b1 b1 b4 b4";
}


@media(max-width: 73em){
    .MainGrid{
        margin: 1rem;
    }
    .Grid{
        grid-auto-columns: 200px;
        grid-auto-rows: 200px;
        grid-template-areas: 
        "b4 b4 b2"
        "b1 b1 b2"
        "b1 b1 b3"
        "b1 b1 b3";
    }
}
/* RESPONSIF HP */
@media(max-width: 42em){        
    .MainGrid{
        margin: 0.0rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #Data{
    max-width: 19.3em;
    }
    .Grid{
        grid-auto-columns: 150px;
        grid-auto-rows: 150px;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        grid-template-areas: 
        "b1 b1"
        "b1 b1"
        "b1 b1"
        "b2 b3"
        "b2 b3"
        "b4 b4";
    }
    .Foto{
    display: flex;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 300px;
    /* max-width: 100%;
    height: auto;
    object-fit: cover; 
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; */
    }
    .nav_link {
        font-size: 14px;
    }

    .nav_title{
        font-size: 25px;
    }

    .navBar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }
    .titnav, .mainnav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .titnav ul, .mainnav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .mainnav ul {
        margin-top: 10px;
    }

    nav a {
        padding: 10px 8px;
    }
    .Teks1{
        color: white;
        font-family: Cascadia Code;
        font-size: 14px;
    }
    .Teks2{
        color: rgb(0, 0, 0);
        font-family: Cascadia Code;
    }
    .Teks3{
        color: white;
        font-family: Cascadia Code;
        font-size: 12px
    }
}


/* Grid1 */

/* Grid2 */

/* Grid3 */

/* Grid4 */
#box4{
    background-image: url("radio.png");
    background-position:123px -60px;
    background-size:450px;
    background-repeat: no-repeat;
    font-size: 13px;
}
#audio{
    padding: 1rem;
    justify-items : center;
}
/* Teks */
.Teks1{
    color: white;
    font-family: Cascadia Code;
    font-size: 15;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 0;
}
.Teks2{
    color: rgb(0, 0, 0);
    font-family: Cascadia Code;
}
.Teks3{
    color: white;
    font-family: Cascadia Code;
    font-size: 13;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}
.PortoHub{
    color: rgb(255, 0, 0);
    font-family: Cascadia Code;
}
a:link{
    color: #a144ff;
}
a:visited{
    color: #a144ff;
}